* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.search,
.form-add {
    /* width: 415px; */
    border: 1px solid red;
}
.search label,
.form-add label {
    background-color: #DDDDDD;
}
.search button {
    color: white;
    background-color: red;
}
.list-student {
    border: 1px solid red;
    /* width: 450px; */
}
.list-student table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/*

.area-addstudent label,
.area-search label {
    background-color: #DDDDDD;
}

.area-addstudent button,
.area-search button {
    color: white;
    background-color: red;
}

.area-result {
    border: 1px solid red;
    width: 450px;
}

.area-result table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.area-addstudent {
    border: 1px solid red;
    width: 450px;
} */